# Python
*.pyc
__pycache__/

# Environment Variables
.env

# Django Migrations
**/migrations/
!*/migrations/__init__.py

# Database
db.sqlite3

# VSCode
.vscode/

# macOS
.DS_Store

# Virtual Environment
venv/
env/

# Media Files (optional)
media/
